extends layout 

block content 
    h1=title 

    ul 
        each item in data_array
            li 
                a(href=item.url) #{item.name}
                
        else 
            li There are no #{item}