extends layout 

block content 
    h1= title 

    ul 
        each pastry in pastry_list 
            li 
                a(href=pastry.url) #{pastry.name}
                
        else 
            li There are no pastries